*{
    margin: 0;
    padding: 0;

}
body{
     background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(./woods-forest-.jpg);
    background-size: cover;
    position: absolute;
}

h1{
    text-align: center;
    font-family: cursive;
    margin-left: 290px;
    margin-top: 100px;
    color: whitesmoke;
    text-transform: uppercase;
}
p{
    text-align: center;
    margin-left: 380px;
    padding-top: 40px;
    color: white;
    font-style: bold;
    font-size: 16px;
    text-transform: uppercase;
}
