*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    height: 100vh;
    width: 100%;
   background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(./images/1.jpg);
   background-size: cover;
   position: absolute;
}
.from-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
.button-hose{
    width: 220px;
    margin: 25px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61141f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: rgb(75, 66, 66);
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,rgb(6, 238, 255),#39D6F6);
    border-radius: 30px;
    transition: 0.5s;
}


.social-icons{
    margin: 30px auto;
    text-align: center;
    
}
.social-icons:hover{
    	
	transform: scale(1.22);
	
}


.social-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #ff61141f;
    cursor: pointer; 
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background:transparent;
}
.submit-btn{
    width: 80%;
    padding: 16px 30px;
    cursor: pointer   ;
    display: block;
    background: linear-gradient(to left,rgb(6, 238, 255),#39D6F6);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.submit-btn:hover{
     background: linear-gradient(270deg ,rgb(255, 6, 234),#39D6F6);
}
.chech-box{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#log{
    left: 50px;
}
#register{
    left: 450px;
}

h2{
    position: relative;
    margin-top: 340px;
    font-size: 12px;
    font-family: cursive;
    color: #1d7c8f;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
}
